<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<!-- 欢迎页 -->
	<welcome-file-list>
	    <welcome-file>font/index.jsp</welcome-file>
    </welcome-file-list>
    <!-- 404 -->
	<error-page>
		<error-code>404</error-code>
		<location>/error.jsp</location>
	</error-page>
	<!-- 会话结束时间 -->
	<session-config>
		<session-timeout>40</session-timeout>
	</session-config>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<context-param>
		<param-name>providerJSP</param-name>
		<param-value>/font/salor.jsp</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<!-- jsp:forward也经过拦截 -->
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<!-- provider 操作页面的权限拦截 -->
	<filter>
		<display-name>ProviderPageFilter</display-name>
		<filter-name>ProviderPageFilter</filter-name>
		<filter-class>com.whut.wxcs.resmanager.filter.ProviderPageFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ProviderPageFilter</filter-name>
		<url-pattern>/font/*</url-pattern>
	</filter-mapping>


</web-app>